spring:
  datasource:
    url: jdbc:h2:mem:eltdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: false

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
        use_sql_comments: true

  sql:
    init:
      mode: never
      platform: h2
      schema-locations: classpath:sql-files/dev/schema-dev.sql

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/enterprise-learning-tracker
          jwk-set-uri: http://localhost:8180/realms/enterprise-learning-tracker/protocol/openid-connect/certs

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.learning.tracker: DEBUG
    org.springframework.modulith: DEBUG
    org.springframework.orm.jpa: DEBUG
    org.springframework.transaction: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: on_param

# Keycloak Configuration
keycloak:
  auth-server-url: http://localhost:8180
  realm: enterprise-learning-tracker
  resource: elt-backend
  credentials:
    secret: elt-backend-secret-key-12345
  admin:
    username: admin
    password: admin
    client-id: admin-cli
